<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <head>

    <h1 class="px-3">About Us</h1>
        <div class="p-4 justify-content-center" >
            <p class="font-monospace">
                Welcome to Best Cars dealership, home to the best cars in North America. 
                We sell domestic and imported cars at reasonable prices.
            </p>
            </br>
            <p class="lh-base" >
                Best Cars dealership was founded in 2003 and is a family business 
                employing four generations of the same family and over 30 staff. 
                We at Best Cars dealership have built our reputation on customer service with over 50% 
                of the business being loyal customers who keep coming back to us. 
            </p>
            <p class="lh-base">
                We are a 'Highly rated' Auto Trader dealer and a 'Top rated' Car Gurus dealer.
                We have over 180 cars on our site that cover a wide range of different types, models and 
                styles, together with a purpose-built workshop, valet bay & 'smart' repair centre.
                The staff bring with them a wealth of experience from across the motor industry 
                adding up to over 130 years of motor trade knowledge and experience.
            </p>
            </br>
            
    </div>   